*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.navbar-top-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo img{
    height:50px;
    width:140px;
    object-fit: cover;
    cursor: pointer;
}
.nav-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-head p{
    color: #555;
    font-size: 15px;
    cursor: pointer;
}
.box-icons{
    font-size: 25px;
    cursor: pointer;
}
.nav-head h4{
    color: black;
    font-size: 17px;
    cursor: pointer;
}
.bx-cart-alt{
    font-size: 25px;
    color: rgb(26, 25, 25);
    cursor: pointer;
}
.nav-cart{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-cart .button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 16px;
    background: transparent;
    border: 1px solid #165D59;
    border-radius: 10px;
   font-weight: 600;
   font-size: 14px;
    color: #165D59;
    cursor: pointer;
}
.bx-user-circle{
    font-size: 30px;
    cursor: pointer;
}
.bx-search-alt-2{
    font-size: 25px;
    cursor: pointer;
    color: #555;
}
.horizontal{
    opacity: 0.4;
}
.navbar-bottom-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 10px;
}
.navbar-bottom-section li{
    list-style: none;
}
.navbar-bottom-section li a{
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}
.navbar-bottom-section li a .span{
    border-bottom: 2px solid #165D59;
    margin: 3px;
}
.span-2{
    color: black;
}
.span-2:hover{
    color: #165D59;
    border-bottom: 2px solid #165D59;
}
.color{
    color: #165D59;
}
.navbar-search{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 8%;
    border: 1px solid gray;
    border-radius: 10px;
    background: #F7F7F7;
    justify-content: start;
    gap: 20px;
}
.navbar-search input{
    border: none;
    outline: none;
    background: transparent;
}
::placeholder{
    font-size: 17px;
}