{% extends 'customer/admin.html' %}
{% block sidebar %}
   <body>
    <section>
        <div class="billing-section">
            <h1>Billing</h1>
            <div class="billing-text">
                <h2>Order History</h2>
                <p>Manage billing information and view receipts</p>
            </div>
            <div class="table-section">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>29, 0ct 24</td>
                            <td>Pro Annual</td>
                            <td><button>Download</button></td>
                        </tr>
                        <tr>
                            <td>29, 0ct 24</td>
                            <td>Pro Annual</td>
                            <td><button>Download</button></td>
                        </tr>
                        <tr>
                            <td>29, 0ct 24</td>
                            <td>Pro Annual</td>
                            <td><button>Download</button></td>
                        </tr>
                        <tr>
                            <td>29, 0ct 24</td>
                            <td>Pro Annual</td>
                            <td><button>Download</button></td>
                        </tr>
                        <tr>
                            <td>29, 0ct 24</td>
                            <td>Pro Annual</td>
                            <td><button>Download</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
   </body>
{% endblock %}