{% extends 'customer/index.html' %}
{% load static %}
{% block main-title %}Sudeeksha Pharmacy - Signup{% endblock %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
{% block body %}
    <!-- hero-login-section -->
    <section>
      <div class="login-section">
        <div class="login-left">
          <p>Welcome to</p>
          <h1>Sudeeksha Pharmacy</h1>
          <h4>Create an account to continue</h4>
          <img src="{% static 'images/login-left.jpg' %}" alt="" />
        </div>
        <hr class="secondright" />
        <div class="login-right">
        
            {% if msg %}
            <h1 style="color: red ;" id="Login" class="login">{{msg}}</h1>
            {% else %}
              <h1>Create Your Account</h1>
            {% endif %}
          </h1>
          <div class="forms">
            <!-- <form action="{% url 'signup' %}" method="post"> -->
              <!-- {% csrf_token %} -->
            <label for="">Email</label>
            <div class="form-input">
              <i class="bx bx-envelope"></i>
              <input type="email" placeholder="Enter Your Email" id="email" name="email"  />
            </div>
            <label for="">Password</label>
            <div class="form-input">
              <i class="bx bx-lock"></i>
              <input
                type="password"
                placeholder="Enter Your Password"
                id="input"
                name="input"
          
              />
              <button class="icon" disabled>
                <i
                  id="eye"
                  onclick="showIcon()"
                  class="fa-solid fa-eye-slash icon-slash"
                ></i>
              </button>
            </div>
            <label for="">Username</label>
            <div class="form-input">
                <i class='bx bx-user-circle'></i>
              <input type="username" placeholder="Enter Your Name" id="Name" name="Name" />
            </div>
            <label for="">First Name</label>
            <div class="form-input">
                <i class='bx bx-user-circle'></i>
              <input type="text" placeholder="First Name" id="fname" name="fname" />
            </div>
            <label for="">Last Name</label>
            <div class="form-input">
                <i class='bx bx-user-circle'></i>
              <input type="text" placeholder="Last Name" id="lname" name="lname" />
            </div>
            <label for="">Phone</label>
            <div class="form-input">
                <i class='bx bx-phone-call' ></i>
              <input type="text" placeholder="Enter Your PhoneNo" id="phone" name="phone"  />
            </div>
            <label for="role"> Select the role:</label>
                    <select name="Role" class="select-role" id="role">
                        <option value="admin">admin</option>
                        <option value="customer">customer</option>
                        <option value="seller">seller</option>
                        <!-- <option value="pharmacist">pharmacist</option> -->
                    </select><br>
          
            <div class="form-input form-checkbox">
              <input type="checkbox"/>
              <p>Remember Me</p>
            </div>
            <div class="form-button">
              <button  type="submit" onclick="signupUser()">Sign Up</button>
            </div>
          <!-- </form> -->
        
            <p class="account">
              Already have an account?
              <a href="/"
                >Log In
                <i class="fa-solid fa-icon fa-arrow-up-right-from-square"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <script>
      function signupUser(){
        let email = $("#email").val();
        let password = $("#input").val();
        let name = $("#Name").val();
        let fname = $("#fname").val();
        let lname = $("#lname").val();
        let phone = $("#phone").val();
        let role = $("#role").val();
        console.log(fname,lname)
        $.ajax({
          type:"POST",
          url:"{% url 'create_user' %}",
          data:{"email":email,"password":password, "name":name,"phone":phone, "role": role,"fname":fname,"lname":lname},
          success:function(data){
            if (data['status']=='pass'){
              window.location.replace("/")
            }
            else if(data['status']=='fail'){
              alert("Failed")
            }
          }
        })
      }
    </script>

    
    {% endblock %}