{% extends 'admin/index.html' %}
{% load static  %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    {% block dashboard_content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Table</h3>
                    <p class="text-subtitle text-muted">For user to check they list</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin_dashboard/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">View Vendor</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Hoverable rows start -->
        <section class="section">
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Supplier Name</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>Company Name</th>
                                            <th>Company GST</th>
                                            <th>Address</th>
                                            <th>Created By</th>
                                            <th>Added On</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for seller in sellers %}
                                        <tr>
                                            <td class="text-bold-500">{{seller.supplier_name}}</td>
                                            <td class="text-bold-500">{{seller.phone_number}}</td>
                                            <td>{{seller.email}}</td>
                                            <td class="text-bold-500">{{seller.CompanyName}}</td>
                                            <td>{{seller.CompanyGst}}</td>
                                            <td>{{seller.address}}</td>
                                            <td>
                                                {% if seller.account_created_by == 'Admin' %}
                                                Admin
                                                {% else %}
                                                Company
                                                {% endif %}
                                            </td>
                                            <td>{{seller.created_at}}</td>
                                            <td>
                                                <button class="btn btn-danger" onclick="RemoveSeller('{{seller.supplier_id}}')">Remove</button>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <h4 class="card-title">No Vendors Found</h4>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toast-container position-fixed top-0 end-0 p-3">
                <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body d-flex align-items-center">
                      <i class="bi bi-check-circle me-2"></i> Successfully removed seller.
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </div>
                    <!-- Error Toast -->
                    <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="d-flex">
                        <div class="toast-body">
                          <i class="bi bi-exclamation-circle"></i> Oops! Something went wrong.
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
        </section>
        <!-- Hoverable rows end -->
        {% endblock dashboard_content %}
    </div>
</div>
</div>